*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
button,
input,
select,
textarea {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

img {
    max-width: 100%;
}